# Base de datos Postgres (para Docker)
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=db_lsg


# ===== Base de datos MySQL =====
DB_HOST=127.0.0.1 # 172.18.0.2
DB_PORT=3307 # Ocupar 3306 para local
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=db_lsg

# ===== JWT =====
JWT_SECRET_KEY=t0iPMcPpOklwhQO14buo5NZwfcOeK5bIqpb6Z7hQZlASrM8LjlBQGs4rsy9SAShC-anDWe0dqlwmWW63APqn-g
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
