# Base de datos Postgres (para Docker)
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=db_lsg


# ===== Base de datos MySQL =====
DB_HOST=172.18.0.2       # o 127.0.0.1 si haces túnel SSH local
DB_PORT=3306
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=db_lsg

# ===== JWT =====
JWT_SECRET_KEY=SUPER_SECRETO_CAMBIA_ESTO
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
